@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  body
  {
    background-color: #303030;
  }
  .gfq{
    display: block;
    position: absolute;
    top: 5%;
    left: 30%;
    background-color:#424242;
    border-radius: 10px;
    padding: 45px;
    width: 500px;
    box-shadow: 5px 5px 10px 5px rgb(0, 0, 0, 20%);
}
  .gfq label{
    color: white;
  }
  .gfq h1{
    color: white;
    text-align: center;
  }
  .signUp
  {margin-top: 25px;
    text-align: center;
    text-transform: uppercase;
}
 .signUp button{
  border: none;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #d1c7c7;
    color: black;
    width: 100%;
    padding: 15px;
    margin-top: 45px;
    border-radius: 250px;
}
.signUp button:hover {
  background-color: #212121;
  color: white;
  cursor: pointer;
}
.back{
  margin-left: 1200px;
  padding-top: 80px;
}
.back a{
  font-size: 30px;
  color: white;
 
}
  
.wron{
  margin-top: 10px;
  border-radius: 10px;
  background-color: red ;
opacity: 0.7;
text-align: center;
color: white;
font-size: 5px;
}